
Django==4.2.11
djangorestframework==3.15.1
robotframework==7.0
robotframework-executor==0.1.5
robotframework-pythonlibcore==4.4.1
robotframework-seleniumlibrary @ git+https://github.com/robotframework/SeleniumLibrary.git@f4f5d5d16517b5ec7f6983bf8340c0a4d2f9b752
selenium==4.19.0

